$border-color: #CCC;

html {
    background-color: #F8F8F8;
    font-family: sans-serif;
}
.posts-root {
    width: 600px;
    display: block;
    margin: auto;
}
.posts-create {
    display: block;
    margin: auto;
    position: relative;
    display: table;
    padding: 8px 12px;
    border: 1px solid $border-color;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $border-color;
    }
    &::before {
        content: "Create Post";
        
    }
}

.post-image {
    width: 600;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    margin-bottom: 20px;
}

.post-root {
    background-color: white;
    margin: 16px 0;
    border-radius: 5px;
    border: 1px solid $border-color;
    position: relative;

    > label {
        font-size: 20px;
        padding: 6px 4px;
        color: #333;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }
}

.post-comment {
    font-size: 16px;
    padding: 2px 16px;
    & > label {
        display: inline;
    }

    &-creator {
        color: black;
        font-weight: bolder;
    }
    &-content {
        margin-left: 6px;
        color: #333;
    }

    &-entry {
        width: 100%;
        display: block;
        padding: 8px 16px;
        position: relative;
        box-sizing: border-box;
        
        &>input {
            position: relative;
            width: 100%;
            font-size: 16px;
            padding-top: 8px;
            border: none;
            border-top: 1px solid $border-color;
            &:focus {outline: none}
        }
    }
}

.flash-message {
    color: red;
}

.post-create-form {
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 5px;
    display: block;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & > input[type=file] {
        display: block;
    }

    &> input{
        margin: 6px;
    }
}

.post-preview {
    width: 600px;
    height: 300px;
    background-color: #DDD;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}